name: Build

on:
  pull_request:
  push:
    branches:
      - master
    tags:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run static checks
        run: ci/run-static-checks

  build:
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-22.04
        - macos-14
        - windows-2022

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v4
      with:
        # Use `fetch-depth: 0` otherwise `git describe` does not see valid
        # tags, causing ci/create-archive to create snapshot archives. This
        # also requires the "Fix actions/checkout bug" step below to work.
        fetch-depth: 0

    # See https://github.com/actions/checkout/issues/290#issuecomment-680260080
    - name: Fix actions/checkout bug
      run: git fetch --force --tags

    - name: Build
      run: ci/build-app

    - name: Run tests
      run: ci/run-tests

    - name: Create archive
      run: ci/create-archive

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: artifacts-${{ matrix.os }}
        path: |
          artifacts/*.bz2

  server-upload:
    needs: build
    runs-on: ubuntu-22.04
    if: github.ref == 'refs/heads/master'

    steps:
      - uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          pattern: artifacts-*
          merge-multiple: true

      - name: Upload to builds.agateau.com
        run: ci/upload-build git-bonsai artifacts/*.bz2
        env:
          UPLOAD_USERNAME: ${{ secrets.UPLOAD_USERNAME }}
          UPLOAD_PRIVATE_KEY: ${{ secrets.UPLOAD_PRIVATE_KEY }}
          UPLOAD_HOSTNAME: ${{ secrets.UPLOAD_HOSTNAME }}
